.glyphSet {
  display: flex;
  flex-flow: column nowrap;
  width: 450px;
  margin-left: 48px;

  .navBar {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    height: 48px;

    .page {
      font-size: 20px;
    }

    .navControls {
      justify-content: space-between;
      margin: 0px 0px;
      width: 50px;
      display: flex;

      .navButton {
        fill: #000000;
        :hover {
          fill: #ffa500;
        }
      }

      .navButtonDisabled {
        fill: #b7b5b5;
        pointer-events: none;
      }
    }
  }

  .gallery {
    display: grid;
    grid-gap: 18px;
    grid-template-columns: repeat(6, 1fr);
    border: none;
    user-select: none;
  }
}
