/* Canvas.module.css */
.canvasWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f0f0;
  cursor: crosshair;
}

.drawingCanvas,
.previewCanvas,
.guidelineCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  touch-action: none;
  user-select: none;
  image-rendering: pixelated;
  background: #e0e0e0;
}

.drawingCanvas {
  z-index: 200;
}

.guidelineCanvas {
  z-index: 400; /* Ensure this is above the preview canvas */
}

.previewCanvas {
  z-index: 300; /* Ensure this is the bottommost canvas */
}
