:root {
  display: flex;
  align-items: center;
  justify-content: center;
  // height: 100%;
}

.appRow {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  margin-top: 30px;
  gap: 48px;
}

.button {
  font-family: ChicagoFLF;
  width: 80px;
  background-color: rgba(1, 1, 1, 0.87);
  color: white;
  border-radius: 2px;
  height: 28px;
  margin-right: 8px;
  font-size: 14px;

  &:hover {
    background-color: orange;
    color: black;
  }
}

.buttonRow {
  display: flex;
  flex-flow: row nowrap;
}

.disabledButton {
  pointer-events: none;
  color: gray;
}

.input {
  background-color: rgba(1, 1, 1, 0.87);
  font-family: ChicagoFLF;
  font-size: 16px;
  color: white;
  border-radius: 2px;
  outline: none;
  border: none;
  padding: 6px;
  height: 60px;
}

@media screen and (max-width: 576px) {
  .appRow {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-top: 30px;
  }

  .input {
    font-size: 14px;
  }

  .noclick {
    pointer-events: none;
    cursor: none;
  }
}
