:root {
  width: 100vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.appRow {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  margin-top: 30px;
}

.button {
  font-family: ChicagoFLF;
  border-radius: 2px;
  height: 28px;
  margin-right: 8px;
  font-size: 14px;

  &:hover {
    background-color: orange;
    color: black;
  }
}

.buttonRow {
  display: flex;
  flex-flow: row nowrap;
}

.disabledButton {
  pointer-events: none;
  color: gray;
}

.input {
  font-family: ChicagoFLF;
  border-radius: 2px;
  outline: none;
  border: none;
  padding: 6px;
  width: 500px;
  height: 60px;
  max-width: 500px;
  min-width: 500px;
}
