/* Gallery.module.css */
.gallery {
  width: 600px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 1rem;
}

.glyph {
  display: flex;
  flex-flow: column nowrap;
  cursor: pointer;
}

.char {
  width: 100%;
  display: flex;
  min-height: 0.5rem;
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: white;
  font-weight: 500;
}

.activeChar {
  background-color: #ffa500;
}

.canvas {
  background-color: #f9f9f9;
  transition: border-color 0.2s ease;
}
