@font-face {
  font-family: 'ChicagoFLF';
  src:
    local('ChicagoFLF'),
    url('/fonts/ChicagoFLF.ttf') format('truetype');
}

@font-face {
  font-family: 'Karektar';
  src:
    local('Karektar'),
    url('/fonts/Karektar.otf') format('opentype');
}

@font-face {
  font-family: 'Sysfont';
  src:
    local('Sysfont'),
    url('/fonts/Sysfont.otf') format('opentype');
}

:root {
  --os-font: 'ChicagoFLF', sans-serif;
  --os-font-pixelated: 'Sysfont', sans-serif;
  --custom-font: 'Karektar', sans-serif;

  --color-primary: #000;
  --color-secondary: #fff;
  --color-text: #000;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--os-font);
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
