$header-height: 32px;

.editor {
  position: relative;

  & .canvas {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
  }
}

.header {
  background-color: black;
  color: #efefef;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: $header-height;
  & .text {
    min-width: 30px;
    padding: 0 10px;
    text-align: center;
  }
  & .separator {
    border-right: 1px #ffa500 solid;
    height: $header-height;
  }
  & .deleteIcon {
    margin-left: auto;
    fill: #efefef;
    transform: scale(0.5);
    &:hover {
      background-color: #ffa500;
    }
  }
}
