$header-height: 32px;

.editor {
  position: relative;

  .canvas {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
  }
}

.header {
  background-color: black;
  color: #efefef;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: $header-height;

  .text {
    min-width: 30px;
    padding: 0 11px;
    text-align: center;
  }

  .separator {
    border-right: 1px #ffffff solid;
    height: $header-height;
  }

  .toolbar {
    display: flex;
    width: 100px;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-left: auto;

    .icon {
      fill: #efefef;
      width: 20px;
      height: $header-height;
      margin-left: 5px;
      margin-right: 5px;

      &:hover {
        fill: #ffa500;
      }
    }

    .activeIcon {
      fill: #ffa500;
    }
  }
}
