$header-height: 48px;

.editor {
  position: relative;

  .canvas {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
  }
}

.header {
  background-color: black;
  color: #efefef;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: $header-height;

  .text {
    font-size: 20px;
    min-width: 30px;
    padding: 0 17px; // TODO: Avoid hardcoding this; figure out the formula to compute for proper alignment.
    text-align: center;
  }

  .separator {
    border-right: 1px #ffffff solid;
    height: $header-height;
  }

  .toolbar {
    display: flex;
    margin-left: auto;
    margin-right: 5px;

    .icon {
      color: #efefef;
      width: 22px;
      height: $header-height;
      padding: 0 12px;
      position: relative;

      &:hover {
        color: #ffa500;
      }
    }

    .activeIcon {
      color: #ffa500;
    }

    .disabledIcon {
      color: gray;
      pointer-events: none;
    }

    .shapeMenu {
      display: flex;
      flex-flow: column nowrap;
      position: absolute;
      visibility: hidden;
    }

    .shapeMenuOpen {
      display: flex;
      flex-flow: column nowrap;
      position: absolute;
      visibility: visible;
      border-radius: 10px;
      background-color: black;
      opacity: 0.7;
      z-index: 20;
      overflow: visible;
    }
  }
}
