.glyph {
  padding: 5px;
}

.symbol {
  width: 50px;
  height: 20px;
  display: flex;
  flex-flow: row wrap;
  background: black;
  font-size: 12px;
  justify-content: center;
  color: white;
}

.canvas {
  width: 48px;
  height: 48px;
  display: flex;
  flex-flow: row wrap;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}
