.glyph {
  display: flex;
  flex-flow: column nowrap;
}

.symbol {
  width: 50px;
  height: 20px;
  display: flex;
  flex-flow: row wrap;
  font-size: 12px;
  justify-content: center;
  color: white;
  background-color: black;
}

.activeSymbol {
  background-color: orange;
}

.canvas {
  display: flex;
  flex-flow: row wrap;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}
