@font-face {
  font-family: 'ChicagoFLF';
  src: local('ChicagoFLF'), url('./fonts/ChicagoFLF.ttf') format('truetype');
}

@font-face {
  font-family: 'Karektar';
  src: local('Karketar'), url('./fonts/Karektar.otf') format('opentype');
}

:root {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: ChicagoFLF, Helvetica, Arial, sans-serif;
  font-size: 16px;

  color: rgba(1, 1, 1, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

button {
  font-family: ChicagoFLF;
  width: 80px;
  background-color: rgba(1, 1, 1, 0.87);
  color: white;
  border-radius: 2px;
  height: 28px;
  margin-right: 8px;
  font-size: 14px;

  @media (hover: hover) {
    &:hover {
      color: #ffa500;
    }
  }

  &:active {
    background-color: #ffa500;
    color: #ffffff;
  }
}

a {
  color: #ffa600;
  text-decoration: inherit;

  &:hover {
    color: #ffc354;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: Karektar;
  font-size: 4em;
  margin-bottom: 10px;
  margin: 0;
  padding: 10px 0 0 0;
}

@media screen and (max-width: 576px) {
  body {
    min-height: 0;
  }

  h1 {
    font-family: Karektar;
    font-size: 42px;
    margin-bottom: 10px;
  }
}
