/* DropdownBar.module.css */
.container {
  position: fixed; /* Changed from absolute to fixed for better positioning */
  top: 0;
  left: 0;
  width: calc(100% - 10px); /* Account for the left/right margin */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff;
  border: 2px solid #000;
  padding: 4px 4px;
  z-index: 9999;
  border-radius: 10px 10px 0 0;
  box-shadow: 2px 2px 0px 0px #000000;
}
